include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Un recuerdo familiar'
- subtitle = ''

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            /*
            .ex1 {}
            */
            input{
                margin: 0 10px;
            }
    body
        #app.container.my-5.animate__animated.animate__fadeIn.animate__delay-1s
            h1 #{title}
            if subtitle.length>1
                h2 #{subtitle}

            .instruccion.mt-5 Observa la imagen y responde: Si papá quiere llevar un regalo a su esposa y a sus hijos, ¿cuántos regalos debe llevar? Ingresa tu respuesta en la casilla correspondiente.

            img(src="i1.png").img-fluid.mt-3

            .row.mt-3.text-center
                .col
                    inputbox(v-model="r[0]" :ref="refCount()" @isright="right++" answer="4" type="number" placeh="#" initclass="ib2")
                        template(v-slot:before="") Papá debe llevar 
                        template(v-slot:after="")  regalos.

            





            finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total")
        +scripts
            script.
                //app.$set(app.tempsobj, 'a', [])